
html, body {
    background: transparent;
    background: rgba(0, 0, 0, 0.1);
}

.drag-area{
    -webkit-app-region: drag;
    width: 10px;
    height: 10px;
    background: #fff;
}

.danmu-list {
    display: flex;
    flex-direction: column;

    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;

    user-select: none;

}

.danmu-item {
    margin-bottom: 8px;
    color: #ffffff;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);*/
    font-size: 14px;
    font-weight: bold;
    /*-webkit-text-stroke: #e9e9e9 0.01rem;*/
}

.danmu-item:hover {
    background: rgba(0, 0, 0, 0.267);
}

.danmu-item .hidden-text {
    opacity: 0;
}

.danmu-item:hover .hidden-text {
    opacity: 1;
}

.hidden-text {
    margin-left: 8px;
    color: #ccc;
}